@font-face {
  font-family: 'samurai';
  src:
    url('ZinHenaBokuryu-CRF.ttf')
    format('truetype');
}

body {
  /*background-color: #3a3b3d;*/
  /*width: 720px;*/
  /*height: 800px;*/
  /*margin: 20px auto;*/

  background: url('muramasaBackgroundBlur.jpg');
  /*-webkit-background-size: auto 100%;*/
  /*-moz-background-size: auto 100%;*/
  /*-o-background-size: auto 100%;*/
  /*background-size: 100vw;*/
  /*background-repeat: no-repeat;*/
  /*background-size: 100vw;*/
}

header {
  background: url('finalHeadBG.png');
  background-size: cover;
  /*box-sizing: border-box;*/
  /*width: 100%;*/
  /*height: 10%;*/
  margin: 20px auto;
  width: 720px;
  height: 80px;
  font-size: 4em;
  text-align: center;
  font-family: 'samurai';
  padding-top: 1%;
  border: 3px solid black;
  border-radius: 5px;
}
header > p {
  margin-top: 0;
  margin-bottom: 0;
  color: white;
  text-shadow:
  0 0 5px #830303,
  2px 2px 5px #830303,
  2px -2px 5px #830303,
  -2px 2px 5px #830303,
  -2px -2px 5px #830303;
}

main {
  background: url('finalMainBG.png');
  background-size: cover;
  box-sizing: border-box;
  position: relative;
  /*width: 100%;*/
  /*height: 89%;*/
  margin: 0 auto;
  width: 720px;
  height: 712px;
  border: 3px solid black;
  border-radius: 5px;
}

.options {
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  position: relative;
  text-align: center;
  font-size: 2.2em;
  width: 100%;
  height: 10%;
  font-family: 'samurai';
  color: white;
}
#reset {
  box-sizing: border-box;
  width: 20%;
  height: 100%;
  display: inline-block;
  position: absolute;
  left: 0.5%;
  top: 0;
  padding-top: 1.7%;
  cursor: pointer;
}
#reset:hover {
    text-shadow:
    0 0 5px #3fc401,
    5px 5px 5px #3fc401,
    5px -5px 5px #3fc401,
    -5px 5px 5px #3fc401,
    -5px -5px 5px #3fc401;
}
.win-message {
  box-sizing: border-box;
  display: inline-block;  
  width: 55%;
  height: 100%;
  position: absolute;
  left: 22.5%;
  top: 0;
  padding-top: 1.7%;
  opacity: 0;
  transition: opacity 1s linear;
}
.unhide {
  opacity: 1;
}

#meow {
  box-sizing: border-box;
  width: 20%;
  height: 100%;
  display: inline-block;
  position: absolute;
  right: 0.5%;
  top: 0;
  padding-top: 1.7%;
  cursor: pointer;
}

#meow:hover {
  text-shadow:
  0 0 5px #3fc401,
  5px 5px 5px #3fc401,
  5px -5px 5px #3fc401,
  -5px 5px 5px #3fc401,
  -5px -5px 5px #3fc401;
}


#player-one,
#player-two {
  box-sizing: border-box;
  display: inline-block;
  position: absolute;
  vertical-align: top;
  height: 90%;
  width: 20%;
}
#player-two {
  right: 0;
}
.player-one-char,
.player-two-char {
  text-align: center;
  color: white;
  font-family: 'samurai';
  font-size: 7em;
  transition: .7s;
}
.board-wrapper > * > img {
  position: static;
}

img {
  width: 130%;
  position: absolute;
  bottom: 0;
}
#player-two > img {
  right: 0;
}

.board-wrapper {
  box-sizing: border-box;
  display: inline-block;
  position: absolute;
  margin-top: 2%;
  left: 22.5%;
  height: 55.623%;
  width: 55%;
}

.board-wrapper > div {
  box-sizing: border-box;
  display: inline-block;
  margin-left: 2%;
  margin-top: 2.5%;
  width: 30%;
  height: 30%;
  font-family: 'samurai';
  font-size: 6em;
  text-align: center;
  vertical-align: bottom;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  cursor: pointer;
/*  font-opacity: 0;
  transition: font-opacity 1s linear;*/
}

.glow {
  text-shadow:
    0 0 5px #3fc401,
    5px 5px 5px #3fc401,
    5px -5px 5px #3fc401,
    -5px 5px 5px #3fc401,
    -5px -5px 5px #3fc401;
}

.fit {
  width: 100%;
  height: 100%;
}


/*
body>header,
body>main,
body>footer {
    margin: 0 auto;
}

main {
  width:760px;
  margin-top: 20px;
  background-image: url("mainBG.png");
  background-size: 100%;
  border: 2px solid black;
  border-radius: 10px;
}

header {
  background-image: url("headerBG.png");
  background-size: 100%;
  box-sizing: border-box;
  width: 760px;
  height: 110px;
  padding-left: 125px;
  padding-right: 125px;
  padding-top: 20px;
  border: 2px solid black;
  border-radius: 10px;
  margin-bottom: 5px;
}
header>p {
  color: white;
  font-size: 5em;
  font-family: 'boneFont';
  margin-top: 0;
  margin-bottom: 0;
}

#player-one,
#player-two,
.board-wrapper {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
}


#player-one,
#player-two {
  max-width: 162px;
  min-height: 450px;
}
.player-one-num,
.player-two-num {
  font-family: 'boneFont';
  font-size: 4em;
  text-align: center;
  padding-top: 28px;
  padding-bottom: 20px;
  transition: .8s;
}

.board-wrapper {
  background-color: transparent;
  width: 428px;
  height: 428px;
  margin-top: 10px;
}

.board-wrapper > div {
  vertical-align: top;
  min-width: 140px;
  min-height: 140px;
  box-sizing: border-box;
  display: inline-block;
  background-color: rgba(0,0,0,0.2);
  margin-top: 4px;
  cursor: pointer;
  font-family: 'boneFont';
  font-size: 7em;
  text-align: center;
  padding-top: 19px;
  border: 3px solid rgba(0,0,0,0.5);
  border-radius: 10px;

}

.board-wrapper > div:nth-child(-n+3) {
  margin-top: 0;
}

.options > div {
  display: inline-block;
  height: 100px;
  vertical-align: top;
  box-sizing: border-box;
  margin-top: 5px;
  font-family: 'boneFont';
}
#reset {
  width: 150px;
  padding-top: 35px;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 2em;
  color: white;
  background-color: rgba(0,0,0,0);
  text-align: center;
  cursor: pointer;
}
.win-message {
  color: white;
  opacity: 0;
  transition: opacity 1s linear;
  width: 451px;
  font-size: 2.1em;
  padding: 34px 0;
  text-align: center;
}
.unhide {
  opacity: 1;
}

#meow {
  width: 150px;
  padding-top: 35px;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 2em;
  color: white;
  background-color: rgba(0,0,0,0);
  text-align: center;
  cursor: pointer;
}

.glow {
  text-shadow: 0 0 10px #32d10e, 2px 2px 10px #32d10e, -2px 2px 10px #32d10e, -2px -2px 10px #32d10e, 2px -2px 10px #32d10e;
}

#player-one>img,
#player-two>img {
  display: inline-block;
  width: 100%;
  padding-top: 30px;
}
*/